.banner {
  min-height: 500px;
  background-image: url("./assets/green-bg.jpg");
  background-size: cover;
  background-blend-mode: exclusion;
  color: white;
}

.bg-tint {
  background: linear-gradient(to top, #000, #0001);
}

.footer {
  min-height: 200px;
}